name: ci

on: 
  push:
      branches:
        - main
jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Log in to Docker hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Run tests
      run: make ci

    - name: Build production image
      run: make build-app
      
    - name: Push image
      run: make push-app